/* -home */
.btn-default, .btn-default:hover, .btn-default:active, .btn-default:visited {
    color:#ffffff;
    background-color: #17a2b8 !important;
    
}
.classtext{
    color:#17a2b8
}

.card-img-top {
    width: 60%;
    height: 85vh;
    object-fit: cover;
    object-position: center;
}
.section{
    padding-top: 40px;
    padding-bottom: 40px;
    text-align: center;
}



.underline{
    height: 1px;
    width: 15rem;
    background-color: #ECEBDD;
    margin-top: 30px;
    margin-bottom: 10px;
}


.homepg{
    margin-left: 30px;
    padding-left: 40px;
    margin-right: 30px;
    padding-right: 40px;
    padding-top: 20px;
    padding-bottom: 20px;
    
}

.inner{
    padding-top: 10px;
    padding-bottom: 10px;
    margin-left: 25px;
    margin-right: 25px;
   }

.inner-text{
    text-align: center;
}

.blogclass{
    margin-top: 25px;
    margin-bottom: 25px;

}

.blogbutton{
    color: #579bb1;
}



.innertestimonial{
    margin-top: 10px;
    margin-bottom: 10px;
}

.testbody{
    padding-left: 10px;
    padding-right: 10px;
    margin-left: 20px;
    margin-top: 30px;
    
}

/* aboutus */
.about{
    padding-left: 0;
    margin-left: 0;
    overflow-x: hidden;
}
.desc{
    text-align: center;
   
}
.descbody{
    text-align: center;
}

.stattext{
    color: #579bb1;
}
.fontsize{
    font-size: 5px;
}
.faqs{
    margin-left: 15px;
}
.faq{
    color: #579bb1;
    text-align: center;
}
.badgepg{
    margin-top: 20px;
    padding-top: 20px;
    margin-right: 20px;
    padding-right: 20px;
}

/* contact */
.form{
    margin-top: 30px;
    margin-bottom: 30px;

}
heading{
    margin-bottom: 35px;
    padding-bottom: 40px;
}

.working{
    text-align: center;
}
.worktips{
    padding-top: 20px;
    background-color:#F8F4EA;
}

/* myprofile */
.sidebar{
    width:18rem;
    margin-left: 38px;
    margin-top: 30px;
}

.courses{
    margin-top: 20px;
    padding-top: 20px;
    margin-right: 20px;
    padding-right: 20px;   
}

.jobs{
    
        margin-top: 20px;
        padding-top: 20px;
        margin-right: 20px;
        padding-right: 20px;
        
    }

    .prog{
        margin-top: 20px;
        margin-left: 20px;
    }
    .load{
        color:white;
    }
    .star{
        margin-top: 15px;
      
    }
    .cards-wrapper {
        display: flex;
        justify-content: center;
      }
      .card img {
        max-width: 100%;
        max-height: 100%;
      }
      .card {
        margin: 0 0.5em;
        box-shadow: 2px 6px 8px 0 rgba(22, 22, 26, 0.18);
        border: none;
        border-radius: 0;
      }
      .carousel-inner {
        padding: 1em;
      }
      .carousel-control-prev,
      .carousel-control-next {
        background-color: #e1e1e1;
        width: 5vh;
        height: 5vh;
        border-radius: 50%;
        top: 50%;
        transform: translateY(-50%);
      }
      @media (min-width: 768px) {
        .card img {
          height: 11em;
        }
      }

      .demo{ background:  #317187; }
      .our-team{
        border: 2px solid  #317187;
        border-radius: 10px;
        text-align: center;
        margin: 10px;
        z-index: 1;
        position: relative;
    }
    .our-team:before,
    .our-team:after{
        content: "";
        width: 100%;
        height: 104%;
        background: #317187;
        position: absolute;
        top: 50%;
        left: 0;
        z-index: -1;
        transform: translateY(-50%) scaleX(0.3);
        transition: all 0.3s ease 0s;
    }
    .our-team:after{
        width: 106%;
        left: 50%;
        transform: translate(-50%, -50%) scaleY(0.25);
    }
    .our-team:hover:before{ transform: translateY(-50%) scaleX(0.7); }
    .our-team:hover:after{ transform: translate(-50%, -50%) scaleY(0.7); }
    .our-team img{
        width: 100%;
        height: auto;
        border-radius: 10px;
        transition: all 0.3s ease 0s;
    }
    .our-team .team-content{
        width: 93%;
        padding: 25px 0 10px;
        background:  #317187;
        position: absolute;
        bottom: 50px;
        left: 50%;
        opacity: 0;
        -webkit-clip-path: polygon(0% 15%, 15% 15%, 15% 0%, 85% 0%, 85% 15%, 100% 15%, 100% 85%, 85% 85%, 85% 100%, 15% 100%, 15% 85%, 0% 85%);
        clip-path: polygon(0% 15%, 15% 15%, 15% 0%, 85% 0%, 85% 15%, 100% 15%, 100% 85%, 85% 85%, 85% 100%, 15% 100%, 15% 85%, 0% 85%);
        transform: translateX(-50%);
        transition: all 0.3s cubic-bezier(0.5, 0.2,0.1,0.9);
    }
    .our-team:hover .team-content{
        bottom: 10px;
        opacity: 1;
    }
    .our-team .title{
        font-size: 25px;
        font-weight: 600;
        color: #fff;
        letter-spacing: 1px;
        text-transform: capitalize;
        margin: 0;
    }
    .our-team .post{
        display: block;
        font-size: 16px;
        color: #fff;
        text-transform: uppercase;
        margin-bottom: 10px;
    }
    .our-team .social{
        padding: 0;
        margin: 0;
        list-style: none;
    }
    .our-team .social li{
        display: inline-block;
        margin: 0 5px;
    }
    .our-team .social li a{
        display: block;
        width: 35px;
        height: 35px;
        line-height: 35px;
        border-radius: 50%;
        background: #fff;
        font-size: 20px;
        color:  #317187;
        transition: all 0.3s ease 0s;
    }
    .our-team .social li a:hover{
        background: linear-gradient(to bottom, #579bb1, darkred);
        box-shadow: 0 0 0 5px rgba(255,255,255,0.3);
        color: #fff;
    }
    @media only screen and (max-width: 990px){
        .our-team{ margin-bottom: 30px; }
    }

    